# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000CD
# resource alias of this part: "FL window"

render		0x00000066
mesh		0x00000067
click		0x000000F5

category	2

slot		-0.090 -0.132 -0.010	0.000 0.000 0.000	8	; FL_window
attach		0x000000CB 8	; FL door->FL_window
attach		0x0000A3CB 8	; FL butterfly door->FL_window
attach		0x0000A1CB 8	; FL scissor door->FL_window
attach		0x0000A5CB 8	; FL suicide door->FL_window

eof
