# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000CF
# resource alias of this part: "FR seat"

render		0x0000006A
mesh		0x0000006B
click		0x000000F7

category	2

slot		0.000 -0.400 -0.100	0.000 0.000 0.000	1	; FR_seat
attach		0x00000006 902	; chassis->FR_seat
attach		0x00000157 902	; Z35C chassis->FR_seat

eof
