# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000D0
# resource alias of this part: "FR window"

render		0x0000006C
mesh		0x0000006D
click		0x000000F8

category	2

slot		0.090 -0.132 -0.010	0.000 0.000 0.000	9	; FR_window
attach		0x000000CE 9	; FR door->FR_window
attach		0x0000A2CE 9	; FR butterfly door->FR_window
attach		0x0000A0CE 9	; FR scissor door->FR_window
attach		0x0000A4CE 9	; FR suicide door->FR_window

eof
