# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E2
# resource alias of this part: "L sideskirt 3"

render		0x00000098
mesh		0x00000099
texture		0x00020025
click		0x0000010A

body		0.011 0.033 -0.004	0.000 0.000 0.000	3.000	cars\racers\Kurumma_data\meshes\_phys_L_sideskirt_3.scx	;0x0000004B
# total mass: 3.000 kg

category	2

slot		0.009 0.027 0.141	0.000 0.000 0.000	19	; L_sideskirt
attach		0x00000006 19	; chassis->L_sideskirt
attach		0x00000157 19	; Z35C chassis->L_sideskirt

eof
