# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000EB
# resource alias of this part: "R exhaust pipe"

render		0x000000AE
mesh		0x000000AF
click		0x00000113

category	1

slot		0.000 0.000 0.000 	0.000 0.000 0.000 	29	; R_pipe
attach		0x00000006 29	; chassis->R_muffler
attach		0x00000157 29	; Z35C chassis->R_muffler

slot		0.113 -0.050 2.498	0.000 0.000 0.000	2 ; L muffler
attach		0x00040047 1

eof
