# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E5
# resource alias of this part: "R sideskirt 2"

render		0x000000A0
mesh		0x000000A1
texture		0x00020025
click		0x0000010D

body		-0.015 0.015 -0.002	0.000 0.000 0.000	3.000	cars\racers\Kurumma_data\meshes\_phys_R_sideskirt_2.scx	;0x0000004A
# total mass: 3.000 kg

category	2

slot		-0.013 0.010 0.143	0.000 0.000 0.000	22	; R_sideskirt
attach		0x00000006 22	; chassis->R_sideskirt
attach		0x00000157 22	; Z35C chassis->R_sideskirt

eof
