# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E6
# resource alias of this part: "R sideskirt 3"

render		0x000000A2
mesh		0x000000A3
texture		0x00020025
click		0x0000010E

body		-0.011 0.033 -0.004	0.000 0.000 0.000	3.000	cars\racers\Kurumma_data\meshes\_phys_R_sideskirt_3.scx	;0x0000004C
# total mass: 3.000 kg

category	2

slot		-0.010 0.027 0.141	0.000 0.000 0.000	22	; R_sideskirt
attach		0x00000006 22	; chassis->R_sideskirt
attach		0x00000157 22	; Z35C chassis->R_sideskirt

eof
