# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E4
# resource alias of this part: "R sideskirt"

render		0x0000009E
mesh		0x0000009F
texture		0x00020025
click		0x0000010C

body		-0.003 0.004 0.000	0.000 0.000 0.000	3.000	cars\racers\Kurumma_data\meshes\_phys_R_sideskirt.scx	;0x00000042
# total mass: 3.000 kg

category	2

slot		-0.002 -0.001 0.145	0.000 0.000 0.000	22	; R_sideskirt
attach		0x00000006 22	; chassis->R_sideskirt
attach		0x00000157 22	; Z35C chassis->R_sideskirt

eof
