# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000DC
# resource alias of this part: "R windshield"

render		0x0000008A
mesh		0x0000008B
click		0x00000104

body		0.000 -0.048 -0.114	0.000 0.000 0.000	25.000	cars\racers\Kurumma_data\meshes\_phys_R_windshield.scx	;0x00000015
# total mass: 25.000 kg

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	7	; R_windshield
attach		0x00000006 7	; chassis->R_windshield
attach		0x00000157 7	; Z35C chassis->R_windshield

eof
