# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E3
# resource alias of this part: "F windshield"

render		0x00000082
mesh		0x00000083
click		0x0000010D

body		0.000 -0.035 -0.011	0.000 0.000 0.000	30.000	cars\racers\Stallion_data\meshes\_phys_F_windshield.scx	;0x0000002B
# total mass: 30.000 kg

category	2

slot		0.000 0.002 0.040	0.000 0.000 0.000	3	; F_windshield
attach		0x00000006 3	; chassis->F_windshield
attach		0x00000157 3	; chassis->F_windshield

eof
