# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000FA
# resource alias of this part: "L exhaust pipe"

render		0x000000BE
mesh		0x000000BF
click		0x00000124

category	1

slot		0.000 0.000 0.080	0.000 0.000 0.000	32	; L_pipe
attach		0x00000006 31	; chassis->L_muffler
attach		0x00000157 31	; chassis->L_muffler

slot		-0.474 -0.120 2.200	0.000 0.000 0.000	2 ; L muffler
attach		0x00040047 1

eof
