# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000DE
# resource alias of this part: "L sideskirt 2"

render		0x00000075
mesh		0x00000076
texture		0x00020025
click		0x00000108

body		0.013 -0.011 0.056	0.000 0.000 0.000	4.000	cars\racers\Stallion_data\meshes\_phys_L_sideskirt_2.scx	;0x00000012
# total mass: 4.000 kg

category	2

slot		0.055 -0.055 -0.055	0.000 0.000 0.000	18	; L_sideskirt
attach		0x00000006 18	; chassis->L_sideskirt
attach		0x00000157 18	; chassis->L_sideskirt

eof
