# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000EC
# resource alias of this part: "R sideskirt"

render		0x00000095
mesh		0x00000096
texture		0x00020025
click		0x00000116

body		-0.002 -0.014 0.107	0.000 0.000 0.000	4.000	cars\racers\Stallion_data\meshes\_phys_R_sideskirt.scx	;0x0000002D
# total mass: 4.000 kg

category	2

slot		-0.027 -0.082 -0.052	0.000 0.000 0.000	22	; R_sideskirt
attach		0x00000006 22	; chassis->R_sideskirt
attach		0x00000157 22	; chassis->R_sideskirt

eof
