# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000D4
# resource alias of this part: "RR window"

render		0x00000056
mesh		0x00000057
click		0x000000FE

category	2

slot		0.073 -0.102 -0.013	0.000 0.000 0.000	24	; RR_window
attach		0x00000006 24	; chassis->RR_window
attach		0x00000157 24	; chassis->RR_window

eof
