# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000FD
# resource alias of this part: "FL window"

render		0x00000086
mesh		0x00000087
click		0x0000012D

body		-0.007 -0.009 0.034	0.000 0.000 0.000	7.000	cars\racers\Sunset_data\meshes\_phys_FL_window.scx	;0x00000020
# total mass: 7.000 kg

category	2

slot		-0.095 -0.145 0.042	0.000 0.000 0.000	8	; FL_window
attach		0x000000F7 8	; FL door->FL_window
attach		0x0000A3F7 8	; FL butterfly door->FL_window
attach		0x0000A1F7 8	; FL scissor door->FL_window
attach		0x0000A5F7 8	; FL suicide door->FL_window

eof
