# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000102
# resource alias of this part: "FR window"

render		0x00000090
mesh		0x00000091
click		0x00000132

body		0.007 -0.009 0.034	0.000 0.000 0.000	7.000	cars\racers\Sunset_data\meshes\_phys_FR_window.scx	;0x00000021
# total mass: 7.000 kg

category	2

slot		0.095 -0.144 0.042	0.000 0.000 0.000	9	; FR_window
attach		0x0000010F 9	; FR door->FR_window
attach		0x0000A20F 9	; FR butterfly door->FR_window
attach		0x0000A00F 9	; FR scissor door->FR_window
attach		0x0000A40F 9	; FR suicide door->FR_window

eof
