# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000115
# resource alias of this part: "R mirror"

render		0x000000C0
mesh		0x000000C1
texture		0x00020025
click		0x00000145

body		0.005 0.000 0.000	0.000 0.000 0.000	1.400	cars\racers\Sunset_data\meshes\_phys_R_mirror.scx	;0x0000004E
# total mass: 1.400 kg

category	2

slot		-0.152 -0.019 -0.027	0.000 0.000 0.000	17	; R_mirror
attach		0x0000010F 17	; FR door->R_mirror
attach		0x0000A20F 17	; FR butterfly door->R_mirror
attach		0x0000A00F 17	; FR scissor door->R_mirror
attach		0x0000A40F 17	; FR suicide door->R_mirror

eof
