# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000FF
# resource alias of this part: "R windshield"

render		0x0000008A
mesh		0x0000008B
click		0x0000012F

body		-0.005 -0.014 -0.017	0.000 0.000 0.000	28.000	cars\racers\Sunset_data\meshes\_phys_R_windshield.scx	;0x00000024
# total mass: 28.000 kg

category	2

slot		0.000 0.020 -0.004	0.000 0.000 0.000	7	; R_windshield
attach		0x00000006 7	; chassis->R_windshield
attach		0x00000156 7	; chassis->R_windshield
attach		0x00000157 7	; chassis->R_windshield

eof
