# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000FE
# resource alias of this part: "RL window"

render		0x00000088
mesh		0x00000089
click		0x0000012E

body		0.008 -0.025 0.029	0.000 0.000 0.000	2.500	cars\racers\Sunset_data\meshes\_phys_RL_window.scx	;0x00000022
# total mass: 2.500 kg

category	2

slot		-0.039 -0.083 -0.021	0.000 0.000 0.000	22	; RL_window
attach		0x00000006 22	; chassis->RL_window
attach		0x00000156 22	; chassis->RL_window
attach		0x00000157 22	; chassis->RL_window

eof
