# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000101
# resource alias of this part: "RR window"

render		0x0000008E
mesh		0x0000008F
click		0x00000131

body		-0.008 -0.019 -0.056	0.000 0.000 0.000	2.500	cars\racers\Sunset_data\meshes\_phys_RR_window.scx	;0x00000023
# total mass: 2.500 kg

category	2

slot		0.039 -0.083 -0.021	0.000 0.000 0.000	23	; RR_window
attach		0x00000006 23	; chassis->RR_window
attach		0x00000156 23	; chassis->RR_window
attach		0x00000157 23	; chassis->RR_window

eof
