# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000F8
# resource alias of this part: "FL window"

render		0x00000094
mesh		0x00000095
click		0x00000126

body		-0.014 -0.023 0.043	0.000 0.000 0.000	5.000	cars\racers\Ninja_data\meshes\_phys_FL_window.scx	;0x0000004A
# total mass: 5.000 kg

category	2

slot		-0.058 -0.168 0.035	0.000 0.000 0.000	20	; FL_window
attach		0x000000ED 20	; FL door->FL_window
attach		0x0000A3ED 20	; FL butterfly door->FL_window
attach		0x0000A1ED 20	; FL scissor door->FL_window
attach		0x0000A5ED 20	; FL suicide door->FL_window

eof
