# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000EA
# resource alias of this part: "FR seat"

render		0x00000072
mesh		0x00000073
click		0x00000118

category	2

slot		0.004 -0.388 -0.071	0.000 0.000 0.000	1	; FR_seat
attach		0x00000006 902	; chassis->FR_seat
attach		0x00000156 902	; chassis->FR_seat
attach		0x00000157 902	; chassis->FR_seat
attach		0x00000158 902	; chassis->FR_seat

eof
