# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000F9
# resource alias of this part: "FR window"

render		0x00000096
mesh		0x00000097
click		0x00000127

body		0.014 -0.023 0.043	0.000 0.000 0.000	5.000	cars\racers\Ninja_data\meshes\_phys_FR_window.scx	;0x0000004B
# total mass: 5.000 kg

category	2

slot		0.058 -0.168 0.035	0.000 0.000 0.000	8	; FR_window
attach		0x000000EC 8	; FR door->FR_window
attach		0x0000A4EC 8	; FL butterfly door->FR_window
attach		0x0000A0EC 8	; FR scissor door->FR_window
attach		0x0000A2EC 8	; FR suicide door->FR_window

eof
