# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000FE
# resource alias of this part: "L mirror 2"

render		0x000000A3
mesh		0x000000A4
texture		0x00020025
click		0x0000012C

body		-0.003 -0.026 0.071	0.000 0.000 0.000	2.000	cars\racers\Ninja_data\meshes\_phys_L_mirror_2.scx	;0x0000001B
# total mass: 2.000 kg

category	2

slot		0.095 -0.058 -0.010	0.000 0.000 0.000	10	; L_mirror
attach		0x000000ED 10	; FL door->L_mirror
attach		0x0000A3ED 10	; FL butterfly door->L_mirror
attach		0x0000A1ED 10	; FL scissor door->L_mirror
attach		0x0000A5ED 10	; FL suicide door->L_mirror

eof
