# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000106
# resource alias of this part: "R mirror 2"

render		0x000000B8
mesh		0x000000B9
texture		0x00020025
click		0x00000134

body		0.006 -0.026 0.071	0.000 0.000 0.000	2.000	cars\racers\Ninja_data\meshes\_phys_R_mirror_2.scx	;0x0000001C
# total mass: 2.000 kg

category	2

slot		-0.093 -0.058 -0.010	0.000 0.000 0.000	15	; R_mirror
attach		0x000000EC 15	; FR door->R_mirror
attach		0x0000A4EC 15	; FL butterfly door->R_mirror
attach		0x0000A0EC 15	; FR scissor door->R_mirror
attach		0x0000A2EC 15	; FR suicide door->R_mirror

eof
