# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000EB
# resource alias of this part: "RL window"

render		0x00000075
mesh		0x00000076
click		0x00000119

body		-0.004 0.000 -0.019	0.000 0.000 0.000	4.000	cars\racers\Ninja_data\meshes\_phys_RL_window.scx	;0x0000000C
# total mass: 4.000 kg

category	2

slot		-0.068 -0.134 -0.002	0.000 0.000 0.000	24	; RL_window
attach		0x00000006 24	; chassis->RL_window
attach		0x00000156 24	; chassis->RL_window
attach		0x00000157 24	; chassis->RL_window
attach		0x00000158 24	; chassis->RL_window

eof
