# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E5
# resource alias of this part: "RR window"

render		0x00000065
mesh		0x00000066
click		0x00000113

body		0.004 0.000 -0.019	0.000 0.000 0.000	4.000	cars\racers\Ninja_data\meshes\_phys_RR_window.scx	;0x00000045
# total mass: 4.000 kg

category	2

slot		0.068 -0.134 -0.002	0.000 0.000 0.000	25	; RR_window
attach		0x00000006 25	; chassis->RR_window
attach		0x00000156 25	; chassis->RR_window
attach		0x00000157 25	; chassis->RR_window
attach		0x00000158 25	; chassis->RR_window

eof
