# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000A0B2
# resource alias of this part: "Engine_window_2"

render		0x0000A050
mesh		0x0000A051
click		0x0000A0D5

body		-0.002  0.001 -0.003	 0.000  0.000  0.000	7.500	cars\racers\Furrano_Data\meshes\_phys_R_windshield_2.scx	;0x0000A03C
# total mass: 7.500 kg

category	2

slot		 0.000  0.000  0.000	 0.000  0.000  0.000	11	; Engine_window_2
attach		0x000000C2 11	; Hood_2->Engine_window_2

eof