# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000B2
# resource alias of this part: "Engine_window"

render		0x00000050
mesh		0x00000051
click		0x000000D5

body		 0.000  0.021  0.000	 0.000  0.000  0.000	35.000	cars\racers\Furrano_data\meshes\_phys_R_windshield.scx	;0x0000003C
# total mass: 35.000 kg

category	2

slot		 0.000  0.024  0.014	 0.000  0.000  0.000	11	; Engine_window
attach		0x000000B5 11	; Hood->engine_window
attach		0x0000A0C2 11	; Hood_3->engine_window

eof