# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000B1
# resource alias of this part: "F_windshield"

render		0x0000004E
mesh		0x0000004F
click		0x000000D4

body		 0.000  0.027  0.000	 0.000  0.000  0.000	32.000	cars\racers\Furrano_Data\meshes\_phys_F_windshield.scx	;0x00000012
# total mass: 50.000 kg

category	2

slot		 0.000  0.016  0.024	 0.000  0.000  0.000	25	; F_windshield
attach		0x00000006 25	; chassis->F_windshield
attach		0x00000157 25	; GTS chassis->F_windshield

eof