# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000C1
# resource alias of this part: "FR_window"

render		0x00000078
mesh		0x00000079
click		0x000000E4

body		 0.008  0.003 -0.007	 0.000  0.000  0.000	4.500	cars\racers\Furrano_Data\meshes\_phys_FR_window.scx	;0x00000017
# total mass: 4.500 kg

category	2

slot		 0.097 -0.137  0.030	 0.000  0.000  0.000	29	; FR_window
attach		0x000000C0 29	; FR door->FR_window

eof