# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000BA
# resource alias of this part: "L_mirror"

render		0x00000065
mesh		0x00000066
texture		0x00020025
click		0x000000DD

damage		0.20

body		-0.002  0.003  0.003	 0.000  0.000  0.000	0.900	cars\racers\Furrano_Data\meshes\_phys_L_mirror.scx	;0x0000001C
# total mass: 0.900 kg

category	2

slot		 0.075 -0.066 -0.010	 0.000  0.000 -0.288	31	; L_mirror
attach		0x000000C9 31	; FL door->L_mirror

eof