# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000BB
# resource alias of this part: "L_RAM_air_intake"

render		0x00000068
mesh		0x00000069
texture		0x00020025
click		0x000000DE

category	2

slot		-0.152 -0.125 -0.183	-1.571  0.000  1.571	19	; L_RAM_air_intake
attach		0x00000006 19	; chassis->L_RAM_air_intake
attach		0x00000157 19	; chassis->L_RAM_air_intake

eof