# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000BE
# resource alias of this part: "R_RAM_air_intake"

render		0x00000071
mesh		0x00000072
texture		0x00020025
click		0x000000E1

category	2

slot		 0.152 -0.125 -0.183	-1.571  0.000  1.571	28	; R_RAM_air_intake
attach		0x00000006 28	; chassis->R_RAM_air_intake
attach		0x00000157 28	; chassis->R_RAM_air_intake

eof