# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000BC
# resource alias of this part: "R_wing"

render		0x0000006B
mesh		0x0000006C
texture		0x00020025
click		0x000000DF

body		 0.000 -0.004  0.014	 0.000  0.000  0.000	5.000	cars\racers\Furrano_Data\meshes\_phys_R_wing.scx	;0x00000025
# total mass: 5.000 kg

category	2

slot		0.000 -0.158 -0.057	 0.000  0.136  0.000	14	; R_wing
attach		0x000000C7 1	; R_bumper->R_wing
attach		0x0000A0B9 1	; R_bumper_3->R_wing

eof