# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000BD
# resource alias of this part: "Trunk"

render		0x0000006E
mesh		0x0000006F
texture		0x00020025
click		0x000000E0

body		 0.000 -0.005  0.015	 0.000  0.000  0.000	21.000	cars\racers\Furrano_Data\meshes\_phys_trunk.scx	;0x00000015
# total mass: 21.000 kg

category	2

slot		 0.009  0.126  0.649	 0.000  0.000  0.000	30	; Trunk
attach		0x00000006 30	; chassis->Trunk
attach		0x00000157 30	; GTS chassis->Trunk

eof