# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000DF
# resource alias of this part: "FL window"

render		0x0000006E
mesh		0x0000006F
click		0x0000010D

body		-0.012 -0.027 0.115	0.000 0.000 0.000	6.500	cars\racers\Teg_data\meshes\_phys_FL_window.scx	;0x00000018
# total mass: 6.500 kg

category	2

slot		-0.090 -0.197 -0.001	0.000 0.000 0.000	7	; FL_window
attach		0x000000D6 7	; FL door->FL_window
attach		0x0000A3D6 7	; FL butterfly door->FL_window
attach		0x0000A1D6 7	; FL scissor door->FL_window
attach		0x0000A5D6 7	; FL suicide door->FL_window

eof
