# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000DE
# resource alias of this part: "FR window"

render		0x0000006C
mesh		0x0000006D
click		0x0000010C

body		0.012 -0.027 0.115	0.000 0.000 0.000	6.500	cars\racers\Teg_data\meshes\_phys_FR_window.scx	;0x00000030
# total mass: 6.500 kg

category	2

slot		0.090 -0.197 -0.001	0.000 0.000 0.000	23	; FR_window
attach		0x000000D9 23	; FR door->FR_window
attach		0x0000A2D9 23	; FR butterfly door->FR_window
attach		0x0000A0D9 23	; FR scissor door->FR_window
attach		0x0000A4D9 23	; FR suicide door->FR_window

eof
