# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000EE
# resource alias of this part: "L mirror 3"

render		0x00000092
mesh		0x00000093
texture		0x00020025
click		0x0000011C

body		-0.003 -0.012 0.042	0.000 0.000 0.000	1.500	cars\racers\Teg_data\meshes\_phys_L_mirror_3.scx	;0x00000021
# total mass: 1.500 kg

category	2

slot		0.091 -0.031 0.011	0.000 0.000 0.000	11	; L_mirror
attach		0x000000D6 11	; FL door->L_mirror
attach		0x0000A3D6 11	; FL butterfly door->L_mirror
attach		0x0000A1D6 11	; FL scissor door->L_mirror
attach		0x0000A5D6 11	; FL suicide door->L_mirror

eof
