# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E7
# resource alias of this part: "L sideskirt 2"

render		0x00000080
mesh		0x00000081
texture		0x00020025
click		0x00000115

body		0.001 -0.018 0.059	0.000 0.000 0.000	3.000	cars\racers\Teg_data\meshes\_phys_L_sideskirt_2.scx	;0x0000000E
# total mass: 3.000 kg

category	2

slot		0.015 0.010 0.099	0.000 0.000 0.000	12	; L_sideskirt
attach		0x00000006 12	; chassis->L_sideskirt
attach		0x00000157 12	; chassis->L_sideskirt

eof
