# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000ED
# resource alias of this part: "R mirror 2"

render		0x00000090
mesh		0x00000091
texture		0x00020025
click		0x0000011B

body		0.001 -0.002 0.051	0.000 0.000 0.000	1.500	cars\racers\Teg_data\meshes\_phys_R_mirror_2.scx	;0x0000002D
# total mass: 1.500 kg

category	2

slot		-0.062 -0.036 0.019	0.000 0.000 0.000	30	; R_mirror
attach		0x000000D9 30	; FR door->R_mirror
attach		0x0000A2D9 30	; FR butterfly door->R_mirror
attach		0x0000A0D9 30	; FR scissor door->R_mirror
attach		0x0000A4D9 30	; FR suicide door->R_mirror

eof
