# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000DD
# resource alias of this part: "RR window"

render		0x0000006A
mesh		0x0000006B
click		0x0000010B

body		-0.008 -0.026 -0.048	0.000 0.000 0.000	2.000	cars\racers\Teg_data\meshes\_phys_RR_window.scx	;0x00000031
# total mass: 2.000 kg

category	2

slot		0.032 -0.160 -0.016	0.000 0.000 0.000	24	; RR_window
attach		0x00000006 24	; chassis->RR_window
attach		0x00000157 24	; chassis->RR_window

eof
