# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000F8
# resource alias of this part: "L exhaust pipe 2"

render		0x000000AF
mesh		0x000000B0
click		0x00000126

//body		0.000 0.000 0.000	0.000 0.000 0.000	1.000	cars\racers\Badge_data\meshes\_phys_exhaust_pipe_2.scx
//# total mass: 1.000 kg

category	1

slot		0.163 0.018 -0.216	0.000 0.000 0.000	1	; L_pipe_IN
attach		0x00000006 32	; 67' chassis
attach		0x00000157 32	; GTO chassis

slot		-0.210 -0.025 -0.202	0.000 0.000 0.000	2	; L_muffler_IN

eof
