# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000B7
# resource alias of this part: "F grill"

render		0x00000080
mesh		0x00000081
click		0x00000113
texture		0x00020020

body		-0.003 0.002 0.003	0.000 0.000 0.000	6.000	cars\racers\Badge_data\meshes\_phys_F_grill.scx	;0x00000026
# total mass: 3.000 kg

category	2

slot		-0.003 -0.001 0.018	0.000 0.000 0.000	9	; F_grill_insert
attach		0x00000006 9	; chassis->F_grill
attach		0x00000157 9	; GTO chassis->F_grill

eof
