# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E9
# resource alias of this part: "F grill frame 2"

render		0x00000089
mesh		0x0000008A
click		0x00000117

body		-0.003 0.000 0.004	0.000 0.000 0.000	4.000	cars\racers\Badge_data\meshes\_phys_F_grill_frame_2.scx	;0x00000038
# total mass: 4.000 kg

category	2

slot		0.000 -0.005 0.012	0.000 0.000 0.000	3	; F_grill
attach		0x00000006 3	; chassis->F_grill
attach		0x00000157 3	; GTO chassis->F_grill

eof
