# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E0
# resource alias of this part: "F grill frame"

render		0x00000074
mesh		0x00000075
click		0x0000010E

body		-0.004 0.001 0.004	0.000 0.000 0.000	4.000	cars\racers\Badge_data\meshes\_phys_F_grill_frame.scx	;0x00000027
# total mass: 4.000 kg

category	2

slot		0.000 -0.004 0.012	0.000 0.000 0.000	3	; F_grill
attach		0x00000006 3	; chassis->F_grill
attach		0x00000157 3	; GTO chassis->F_grill

eof
