# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000EA
# resource alias of this part: "F grill frame 3"

render		0x0000008B
mesh		0x0000008C
click		0x00000118

body		-0.004 0.000 0.005	0.000 0.000 0.000	4.000	cars\racers\Badge_data\meshes\_phys_F_grill_frame_3.scx	;0x00000039
# total mass: 4.000 kg

category	2

slot		0.000 -0.005 0.013	0.000 0.000 0.000	3	; F_grill
attach		0x00000006 3	; chassis->F_grill
attach		0x00000157 3	; GTO chassis->F_grill

eof
