# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E1
# resource alias of this part: "F windshield"

render		0x00000076
mesh		0x00000077
click		0x0000010F

body		0.005 0.010 -0.002	0.000 0.000 0.000	25.000	cars\racers\Badge_data\meshes\_phys_F_windshield.scx	;0x00000025
# total mass: 25.000 kg

category	2

slot		0.000 0.034 0.011	0.000 0.000 0.000	13	; F_windshield
attach		0x00000006 13	; chassis->F_windshield
attach		0x00000157 13	; GTO chassis->F_windshield

eof
