# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000DE
# resource alias of this part: "FL window"

render		0x00000070
mesh		0x00000071
click		0x0000010C

body		0.009 0.008 -0.006	0.000 0.000 0.000	5.000	cars\racers\Badge_data\meshes\_phys_FL_window.scx	;0x00000014
# total mass: 5.000 kg

category	2

slot		-0.086 -0.130 0.187	0.000 0.000 0.000	14	; FL_window
attach		0x000000D9 14	; FL door->FL_window
attach		0x0000A3D9 14	; FL butterfly door->FL_window
attach		0x0000A1D9 14	; FL scissor door->FL_window
attach		0x0000A5D9 14	; FL suicide door->FL_window

eof
