# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000FD
# resource alias of this part: "FR seat"

render		0x000000BD
mesh		0x000000BE
click		0x0000012B

category	2

slot		-0.116 -0.360 -0.095	0.000 0.000 0.000	1	; FR_seat
attach		0x00000006 902	; chassis->FR_seat
attach		0x00000157 902	; GTO chassis->FR_seat

eof
