# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E4
# resource alias of this part: "L mirror"

render		0x0000007D
mesh		0x0000007E
click		0x00000112

body		0.001 -0.004 0.002	0.000 0.000 0.000	1.000	cars\racers\Badge_data\meshes\_phys_L_mirror.scx	;0x00000017
# total mass: 1.000 kg

category	2

slot		0.057 -0.082 -0.010	0.000 0.000 0.000	10	; L_mirror
attach		0x000000D9 10	; FL door->L_mirror
attach		0x0000A3D9 10	; FL butterfly door->L_mirror
attach		0x0000A1D9 10	; FL scissor door->L_mirror
attach		0x0000A5D9 10	; FL suicide door->L_mirror

eof
