# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000ED
# resource alias of this part: "L mirror 3"

render		0x00000092
mesh		0x00000093
texture		0x00020025
click		0x0000011B

body		0.009 -0.004 -0.009	0.000 0.000 0.000	1.200	cars\racers\Badge_data\meshes\_phys_L_mirror_3.scx	;0x00000040
# total mass: 1.200 kg

category	2

slot		0.060 -0.043 0.045	0.000 0.000 0.000	10	; L_mirror
attach		0x000000D9 10	; FL door->L_mirror
attach		0x0000A3D9 10	; FL butterfly door->L_mirror
attach		0x0000A1D9 10	; FL scissor door->L_mirror
attach		0x0000A5D9 10	; FL suicide door->L_mirror

eof
