# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000D5
# resource alias of this part: "L sideskirt"

render		0x00000058
mesh		0x00000059
texture		0x00020025
click		0x00000103

body		0.001 0.000 -0.005	0.000 0.000 0.000	3.000	cars\racers\Badge_data\meshes\_phys_L_sideskirt.scx	;0x0000001F
# total mass: 3.000 kg

category	2

slot		0.003 0.068 0.047	0.000 0.000 0.000	21	; L_sideskirt
attach		0x00000006 21	; chassis->L_sideskirt
attach		0x00000157 21	; GTO chassis->L_sideskirt

eof
