# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000DC
# resource alias of this part: "R bumper"

render		0x0000006A
mesh		0x0000006B
click		0x0000010A

body		-0.002 -0.003 -0.001	0.000 0.000 0.000	11.000	cars\racers\Badge_data\meshes\_phys_R_bumper.scx	;0x00000020
# total mass: 11.000 kg

category	2

slot		0.000 -0.004 0.007	0.000 0.000 0.000	16	; R_bumper
attach		0x00000006 16	; chassis->R_bumper
attach		0x00000157 16	; GTO chassis->R_bumper

eof
