# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000F0
# resource alias of this part: "R mirror 3"

render		0x0000009A
mesh		0x0000009B
texture		0x00020025
click		0x0000011E

body		-0.009 -0.004 -0.009	0.000 0.000 0.000	1.200	cars\racers\Badge_data\meshes\_phys_R_mirror_3.scx	;0x00000043
# total mass: 1.200 kg

category	2

slot		-0.061 -0.043 0.045	0.000 0.000 0.000	17	; R_mirror
attach		0x000000DA 17	; FR door->R_mirror
attach		0x0000A2DA 17	; FR butterfly door->R_mirror
attach		0x0000A0DA 17	; FR scissor door->R_mirror
attach		0x0000A4DA 17	; FR suicide door->R_mirror

eof
