# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000DF
# resource alias of this part: "RL window"

render		0x00000072
mesh		0x00000073
click		0x0000010D

body		-0.004 0.006 0.007	0.000 0.000 0.000	3.500	cars\racers\Badge_data\meshes\_phys_RL_window.scx	;0x00000015
# total mass: 3.500 kg

category	2

slot		-0.071 -0.114 -0.007	0.000 0.000 0.000	23	; RL_window
attach		0x00000006 23	; chassis->RL_window
attach		0x00000157 23	; GTO chassis->RL_window

eof
