# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000132
# resource alias of this part: "L mirror 3"

render		0x000000D9
mesh		0x000000DA
texture		0x00020025
click		0x00000162

body		0.069 -0.025 -0.007	0.000 0.000 0.000	0.400	cars\racers\Codrac_data\meshes\_phys_L_mirror_3_base.scx	;0x00000043
body		-0.035 -0.011 0.047	0.000 0.000 0.000	1.000	cars\racers\Codrac_data\meshes\_phys_L_mirror_3_body.scx	;0x00000044
# total mass: 1.400 kg

category	2

slot		0.000 0.000 0.000 	0.000 0.000 0.000	20	; L_mirror
attach		0x00000110 20	; FL door->L_mirror
attach		0x0000A110 20	; FL scissor door->L_mirror
attach		0x0000A310 20	; FL butterfly door->L_mirror
attach		0x0000A510 20	; FL suicide door->L_mirror

eof
