# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000012C
# resource alias of this part: "L mirror 2"

render		0x000000CA
mesh		0x000000CB
texture		0x00020025
click		0x0000015C

body		0.078 -0.023 0.011	0.000 0.000 0.000	0.400	cars\racers\Codrac_data\meshes\_phys_L_mirror_2_base.scx	;0x00000041
body		-0.026 -0.009 0.047	0.000 0.000 0.000	1.000	cars\racers\Codrac_data\meshes\_phys_L_mirror_2_body.scx	;0x00000042
# total mass: 1.400 kg

category	2

slot		0.000 0.000 0.000 	0.000 0.000 0.000	20	; L_mirror
attach		0x00000110 20	; FL door->L_mirror
attach		0x0000A110 20	; FL scissor door->L_mirror
attach		0x0000A310 20	; FL butterfly door->L_mirror
attach		0x0000A510 20	; FL suicide door->L_mirror

eof
