# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000119
# resource alias of this part: "L sideskirt"

render		0x0000009B
mesh		0x0000009C
texture		0x00020025
click		0x00000149

body		0.001 -0.005 0.016	0.000 0.000 0.000	3.000	cars\racers\Codrac_data\meshes\_phys_L_sideskirt.scx	;0x00000047
# total mass: 3.000 kg

category	2

slot		0.000 -0.076 0.123	0.000 0.000 0.000	15	; L_sideskirt
attach		0x00000006 15	; chassis->L_sideskirt
attach		0x0000A156 15	; SS chassis->L_sideskirt
attach		0x0000A157 15	; GT chassis->L_sideskirt

eof
