# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000130
# resource alias of this part: "L sideskirt 3"

render		0x000000D3
mesh		0x000000D4
texture		0x00020025
click		0x00000160

body		-0.004 0.013 0.038	0.000 0.000 0.000	3.000	cars\racers\Codrac_data\meshes\_phys_L_sideskirt_3_.scx	;0x00000049
# total mass: 3.000 kg

category	2

slot		0.005 -0.025 0.121	0.000 0.000 0.000	15	; L_sideskirt
attach		0x00000006 15	; chassis->L_sideskirt
attach		0x0000A156 15	; SS chassis->L_sideskirt
attach		0x0000A157 15	; GT chassis->L_sideskirt

eof
