# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000012A
# resource alias of this part: "L sideskirt 2"

render		0x000000C5
mesh		0x000000C6
texture		0x00020025
click		0x0000015A

body		0.004 0.008 0.014	0.000 0.000 0.000	3.000	cars\racers\Codrac_data\meshes\_phys_L_sideskirt_2_.scx	;0x00000048
# total mass: 3.000 kg

category	2

slot		0.004 -0.046 0.124	0.000 0.000 0.000	15	; L_sideskirt
attach		0x00000006 15	; chassis->L_sideskirt
attach		0x0000A156 15	; SS chassis->L_sideskirt
attach		0x0000A157 15	; GT chassis->L_sideskirt

eof
