# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000131
# resource alias of this part: "R mirror 3"

render		0x000000D6
mesh		0x000000D7
texture		0x00020025
click		0x00000161

body		-0.066 -0.025 -0.007	0.000 0.000 0.000	0.400	cars\racers\Codrac_data\meshes\_phys_R_mirror_3_base.scx	;0x0000005D
body		0.037 -0.011 0.047	0.000 0.000 0.000	1.000	cars\racers\Codrac_data\meshes\_phys_R_mirror_3_body.scx	;0x0000005E
# total mass: 1.400 kg

category	2

slot		0.000 0.000 0.000 	0.000 0.000 0.000	20	; R_mirror
attach		0x00000113 20	; FR door->R_mirror
attach		0x0000A013 20	; FR scissor door->R_mirror
attach		0x0000A213 20	; FR butterfly door->R_mirror
attach		0x0000A413 20	; FR suicide door->R_mirror

eof
