# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000012B
# resource alias of this part: "R mirror 2"

render		0x000000C7
mesh		0x000000C8
texture		0x00020025
click		0x0000015B

body		-0.075 -0.023 0.011	0.000 0.000 0.000	0.400	cars\racers\Codrac_data\meshes\_phys_R_mirror_2_base.scx	;0x0000005B
body		0.028 -0.009 0.047	0.000 0.000 0.000	1.000	cars\racers\Codrac_data\meshes\_phys_R_mirror_2_body.scx	;0x0000005C
# total mass: 1.400 kg

category	2

slot		0.000 0.000 0.000 	0.000 0.000 0.000	20	; R_mirror
attach		0x00000113 20	; FR door->R_mirror
attach		0x0000A013 20	; FR scissor door->R_mirror
attach		0x0000A213 20	; FR butterfly door->R_mirror
attach		0x0000A413 20	; FR suicide door->R_mirror

eof
