# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000118
# resource alias of this part: "R mirror"

render		0x00000099
mesh		0x0000009A
texture		0x00020025
click		0x00000148

body		-0.076 -0.018 -0.013	0.000 0.000 0.000	0.400	cars\racers\Codrac_data\meshes\_phys_R_mirror_base.scx	;0x0000005F
body		0.033 -0.003 0.017	0.000 0.000 0.000	1.000	cars\racers\Codrac_data\meshes\_phys_R_mirror_body.scx	;0x00000060
# total mass: 1.400 kg

category	2

slot		0.000 0.000 0.000 	0.000 0.000 0.000	20	; R_mirror
attach		0x00000113 20	; FR door->R_mirror
attach		0x0000A013 20	; FR scissor door->R_mirror
attach		0x0000A213 20	; FR butterfly door->R_mirror
attach		0x0000A413 20	; FR suicide door->R_mirror

eof
