# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000011D
# resource alias of this part: "R seats"

render		0x000000A5
mesh		0x000000A6
click		0x0000014D

category	2

slot		0.000 -0.138 -0.053	0.000 0.000 0.000	22	; R_seats
attach		0x00000006 22	; chassis->R_seats
attach		0x0000A156 22	; SS chassis->R_seats
attach		0x0000A157 22	; GT chassis->R_seats

eof
