# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000129
# resource alias of this part: "R sideskirt 2"

render		0x000000C2
mesh		0x000000C3
texture		0x00020025
click		0x00000159

body		-0.002 0.008 0.014	0.000 0.000 0.000	3.000	cars\racers\Codrac_data\meshes\_phys_R_sideskirt_2_.scx	;0x00000062
# total mass: 3.000 kg

category	2

slot		-0.002 -0.046 0.124	0.000 0.000 0.000	23	; R_sideskirt
attach		0x00000006 23	; chassis->R_sideskirt
attach		0x00000006 23	; chassis->R_sideskirt
attach		0x0000A156 23	; SS chassis->R_sideskirt
attach		0x0000A157 23	; GT chassis->R_sideskirt

eof
