# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000133
# resource alias of this part: "R sideskirt 3"

render		0x000000DB
mesh		0x000000DC
texture		0x00020025
click		0x00000163

body		0.004 0.013 0.038	0.000 0.000 0.000	3.000	cars\racers\Codrac_data\meshes\_phys_R_sideskirt_3_.scx	;0x00000063
# total mass: 3.000 kg

category	2

slot		-0.005 -0.025 0.121	0.000 0.000 0.000	23	; R_sideskirt
attach		0x00000006 23	; chassis->R_sideskirt
attach		0x00000006 23	; chassis->R_sideskirt
attach		0x0000A156 23	; SS chassis->R_sideskirt
attach		0x0000A157 23	; GT chassis->R_sideskirt

eof
