# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000120
# resource alias of this part: "R windshield"

render		0x000000AC
mesh		0x000000AD
click		0x00000150

body		0.003 -0.039 0.004	0.000 0.000 0.000	25.000	cars\racers\Codrac_data\meshes\_phys_R_windshield.scx	;0x00000065
# total mass: 25.000 kg

category	2

slot		0.008 0.002 -0.080	0.000 0.000 0.000	26	; R_windshield
attach		0x00000006 26	; chassis->R_windshield
attach		0x0000A156 26	; SS chassis->R_windshield
attach		0x0000A157 26	; GT chassis->R_windshield

eof
