# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E7
# resource alias of this part: "FL seat"

render		0x0000006E
mesh		0x0000006F
click		0x00000112

category	2

slot		0.037 -0.340 -0.054	0.000 0.000 0.000	1	; FL_seat
attach		0x00000006 901	; chassis->FL_seat
attach		0x00000156 901	; chassis->FL_seat
attach		0x00000157 901	; chassis->FL_seat
attach		0x00000158 901	; chassis->FL_seat

eof
