# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E8
# resource alias of this part: "FL window"

render		0x00000071
mesh		0x00000072
click		0x00000113

body		-0.016 0.004 0.000	0.000 0.000 0.000	5.000	cars\racers\Whisper_data\meshes\_phys_FL_window.scx	;0x00000033
# total mass: 5.000 kg

category	2

slot		-0.097 -0.149 0.000	0.000 0.000 0.000	10	; FL_window
attach		0x000000E6 10	; FL door->FL_window

eof
