# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000EA
# resource alias of this part: "FR window"

render		0x00000075
mesh		0x00000076
click		0x00000115

body		0.016 0.004 0.000	0.000 0.000 0.000	5.000	cars\racers\Whisper_data\meshes\_phys_FR_window.scx	;0x00000035
# total mass: 5.000 kg

category	2

slot		0.097 -0.149 0.000	0.000 0.000 0.000	21	; FR_window
attach		0x000000E9 21	; FR door->FR_window

eof
