# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000EF
# resource alias of this part: "L mirror"

render		0x00000081
mesh		0x00000082
texture		0x00020025
click		0x0000011A

body		-0.032 0.003 0.019	0.000 0.000 0.000	1.000	cars\racers\Whisper_data\meshes\_phys_L_mirror.scx	;0x00000041
# total mass: 1.000 kg

category	2

slot		0.104 -0.084 -0.062	0.000 0.000 0.000	8	; L_mirror
attach		0x000000E6 8	; FL door->L_mirror

eof
