# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000F0
# resource alias of this part: "L mirror 2"

render		0x00000084
mesh		0x00000085
texture		0x00020025
click		0x0000011B

body		-0.011 -0.008 0.015	0.000 0.000 0.000	1.000	cars\racers\Whisper_data\meshes\_phys_L_mirror_2.scx	;0x00000042
# total mass: 1.000 kg

category	2

slot		0.124 -0.083 -0.066	0.000 0.000 0.000	8	; L_mirror
attach		0x000000E6 8	; FL door->L_mirror

eof
