# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000F3
# resource alias of this part: "L sideskirt 3"

render		0x0000008C
mesh		0x0000008D
texture		0x00020025
click		0x0000011E

category	2

slot		0.007 0.021 0.003	0.000 0.000 0.000	9	; L_sideskirt
attach		0x00000006 9	; chassis->L_sideskirt
attach		0x00000156 9	; chassis->L_sideskirt
attach		0x00000157 9	; chassis->L_sideskirt
attach		0x00000158 9	; chassis->L_sideskirt

eof
