# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000010B
# resource alias of this part: "L exhaust pipe"

render		0x0000E1C6
mesh		0x0000E1C7
click		0x0000E136

category	1

slot		0.000 0.000 0.000	0.000 0.000 0.000	25	; L_pipe
attach		0x00000006 25	; chassis->L_muffler
attach		0x00000156 25	; chassis->L_muffler
attach		0x00000157 25	; chassis->L_muffler
attach		0x00000158 25	; chassis->L_muffler

slot		-0.207 0.050 2.410	0.000 0.000 0.000	2 ; L muffler
attach		0x00040047 1

eof
