# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000108
# resource alias of this part: "R mirror 3"

render		0x000000C0
mesh		0x000000C1
texture		0x00020025
click		0x00000133

body		0.008 0.002 0.015	0.000 0.000 0.000	1.000	cars\racers\Whisper_data\meshes\_phys_R_mirror_3.scx	;0x00000051
# total mass: 1.000 kg

category	2

slot		-0.127 -0.073 -0.066	0.000 0.000 0.000	20	; R_mirror
attach		0x000000E9 20	; FR door->R_mirror

eof
