# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x00000104
# resource alias of this part: "R ram air intake"

render		0x000000B8
mesh		0x000000B9
texture		0x00020025
click		0x0000012F

category	2

slot		0.006 0.000 -0.280	0.000 0.000 0.000	30	; R_ram_air_intake
attach		0x00000006 30	; chassis->R_ram_air_intake
attach		0x00000156 30	; chassis->L_ram_air_intake
attach		0x00000157 30	; chassis->L_ram_air_intake
attach		0x00000158 30	; chassis->L_ram_air_intake

eof
