# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000F9
# resource alias of this part: "R sideskirt"

render		0x0000009A
mesh		0x0000009B
texture		0x00020025
click		0x00000124

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	24	; R_sideskirt
attach		0x00000006 24	; chassis->R_sideskirt
attach		0x00000156 24	; chassis->R_sideskirt
attach		0x00000157 24	; chassis->R_sideskirt
attach		0x00000158 24	; chassis->R_sideskirt

eof
