# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000BB
# resource alias of this part: "FL seat"

render		0x00000051
mesh		0x00000052
click		0x000000E4

category	2

slot		-0.001 -0.360 0.000	0.000 0.000 0.000	1	; FL_seat
attach		0x00000006 901	; chassis->FL_seat
attach		0x00000157 901	; chassis->FL_seat

eof
