# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000D9
# resource alias of this part: "FL window"

render		0x0000009C
mesh		0x0000009D
click		0x00000102

body		-0.016 0.003 -0.016	0.000 0.000 0.000	1.000	cars\racers\Remo_data\meshes\_phys_FL_window.scx	;0x0000002A
# total mass: 1.000 kg

category	2

slot		-0.022 -0.252 -0.035	0.000 0.000 0.000	7	; FL_window
attach		0x000000BA 7	; FL door->FL_window
attach		0x0000A3BA 7	; FL butterfly door->FL_window
attach		0x0000A1BA 7	; FL scissor door->FL_window
attach		0x0000A5BA 7	; FL suicide door->FL_window

eof
