# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000BE
# resource alias of this part: "FR window"

render		0x00000058
mesh		0x00000059
click		0x000000E7

body		0.016 0.003 -0.016	0.000 0.000 0.000	1.000	cars\racers\Remo_data\meshes\_phys_FR_window.scx	;0x0000002F
# total mass: 1.000 kg

category	2

slot		0.022 -0.252 -0.035	0.000 0.000 0.000	10	; FR_window
attach		0x000000BC 10	; FR door->FR_window
attach		0x0000A2BC 10	; FR butterfly door->FR_window
attach		0x0000A0BC 10	; FR scissor door->FR_window
attach		0x0000A4BC 10	; FR suicide door->FR_window

eof
