# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000C3
# resource alias of this part: "L mirror"

render		0x00000064
mesh		0x00000065
texture		0x00020025
click		0x000000EC

body		-0.003 0.019 0.007	0.000 0.000 0.000	1.500	cars\racers\Remo_data\meshes\_phys_L_mirror.scx	;0x00000012
# total mass: 1.500 kg

category	2

slot		0.058 -0.057 -0.065	0.000 0.000 0.000	12	; L_mirror
attach		0x000000BA 12	; FL door->L_mirror
attach		0x0000A3BA 12	; FL butterfly door->L_mirror
attach		0x0000A1BA 12	; FL scissor door->L_mirror
attach		0x0000A5BA 12	; FL suicide door->L_mirror

eof
