# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000C4
# resource alias of this part: "L sideskirt"

render		0x00000067
mesh		0x00000068
texture		0x00020025
click		0x000000ED

body		0.000 0.004 0.000	0.000 0.000 0.000	4.000	cars\racers\Remo_data\meshes\_phys_L_sideskirt.scx	;0x00000013
# total mass: 4.000 kg

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	13	; L_sideskirt
attach		0x00000006 13	; chassis->L_sideskirt
attach		0x00000157 13	; chassis->L_sideskirt

eof
