# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000CB
# resource alias of this part: "R mirror"

render		0x00000078
mesh		0x00000079
texture		0x00020025
click		0x000000F4

body		0.003 0.019 0.007	0.000 0.000 0.000	1.500	cars\racers\Remo_data\meshes\_phys_R_mirror.scx	;0x00000016
# total mass: 1.500 kg

category	2

slot		-0.058 -0.057 -0.065	0.000 0.000 0.000	17	; R_mirror
attach		0x000000BC 17	; FR door->R_mirror
attach		0x0000A2BC 17	; FR butterfly door->R_mirror
attach		0x0000A0BC 17	; FR scissor door->R_mirror
attach		0x0000A4BC 17	; FR suicide door->R_mirror

eof
