# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000D3
# resource alias of this part: "RR window"

render		0x00000089
mesh		0x0000008A
click		0x000000FC

body		0.008 0.002 0.013	0.000 0.000 0.000	1.000	cars\racers\Remo_data\meshes\_phys_RR_window.scx	;0x00000030
# total mass: 1.000 kg

category	2

slot		 0.000  0.000  0.000	 0.000  0.000  0.000	24	; RR_window
attach		0x00000006 24	; chassis->RR_window
attach		0x00000157 24	; chassis->RR_window

eof
