# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E2
# resource alias of this part: "L mirror 3"

render		0x0000008F
mesh		0x00000090
texture		0x00020025
click		0x0000010F

body		0.000 -0.001 0.029	0.000 0.000 0.000	1.500	cars\racers\ST9_data\meshes\_phys_L_mirror_3.scx	;0x0000002B
# total mass: 1.500 kg

category	2

slot		0.043 -0.026 0.021	0.000 0.000 0.000	11	; L_mirror
attach		0x000000CB 11	; FL door->L_mirror
attach		0x0000A3CB 11	; FL butterfly door->L_mirror
attach		0x0000A1CB 11	; FL scissor door->L_mirror
attach		0x0000A5CB 11	; FL suicide door->L_mirror

eof
