# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E0
# resource alias of this part: "L sideskirt 3"

render		0x00000089
mesh		0x0000008A
texture		0x00020025
click		0x0000010D

body		-0.002 -0.007 0.029	0.000 0.000 0.000	3.500	cars\racers\ST9_data\meshes\_phys_L_sideskirt_3.scx	;0x00000025
# total mass: 3.500 kg

category	2

slot		0.013 -0.066 0.057	0.000 0.000 0.000	12	; L_sideskirt
attach		0x00000006 12	; chassis->L_sideskirt
attach		0x00000157 12	; chassis->L_sideskirt

eof
