# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000C4
# resource alias of this part: "L sideskirt"

render		0x00000041
mesh		0x00000042
texture		0x00020025
click		0x000000F1

body		-0.003 -0.015 0.044	0.000 0.000 0.000	3.500	cars\racers\ST9_data\meshes\_phys_L_sideskirt.scx	;0x0000000C
# total mass: 3.500 kg

category	2

slot		0.002 -0.120 0.053	0.000 0.000 0.000	12	; L_sideskirt
attach		0x00000006 12	; chassis->L_sideskirt
attach		0x00000157 12	; chassis->L_sideskirt

eof
