# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E6
# resource alias of this part: "R mirror 3"

render		0x0000009A
mesh		0x0000009B
texture		0x00020025
click		0x00000113

body		0.000 -0.001 0.029	0.000 0.000 0.000	1.500	cars\racers\ST9_data\meshes\_phys_R_mirror_3.scx	;0x00000035
# total mass: 1.500 kg

category	2

slot		-0.043 -0.026 0.021	0.000 0.000 0.000	17	; R_mirror
attach		0x000000D6 17	; FR door->R_mirror
attach		0x0000A2D6 17	; FR butterfly door->R_mirror
attach		0x0000A0D6 17	; FR scissor door->R_mirror
attach		0x0000A4D6 17	; FR suicide door->R_mirror

eof
