# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000CA
# resource alias of this part: "R windshield"

render		0x00000051
mesh		0x00000052
click		0x000000F7

body		0.000 -0.014 0.006	0.000 0.000 0.000	30.000	cars\racers\ST9_data\meshes\_phys_R_windshield.scx	;0x00000012
# total mass: 30.000 kg

category	2

slot		 0.000  0.265  1.210	 0.000  0.000  0.000	13	; R_windshield
attach		 0x000000CD 13	; trunk->R_windshield

eof
