# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000C8
# resource alias of this part: "R wing"

render		0x0000004C
mesh		0x0000004D
texture		0x00020025
click		0x000000F5

body		0.000 -0.001 -0.012	0.000 0.000 0.000	3.000	cars\racers\ST9_data\meshes\_phys_R_wing_2.scx	;0x00000014
# total mass: 3.000 kg

category	2

slot		0.000 -0.028 -0.104	0.000 0.000 0.000	14	; R_wing
attach		0x000000CD 1	; trunk->R_wing

eof
