# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000D3
# resource alias of this part: "sunroof"

render		0x0000006A
mesh		0x0000006B
click		0x00000100

body		0.000 0.002 0.006	0.000 0.000 0.000	4.000	cars\racers\ST9_data\meshes\_phys_sunroof.scx	;0x0000002C
# total mass: 4.000 kg

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	27	; sunroof
attach		0x00000006 27	; chassis->sunroof
attach		0x00000157 27	; chassis->sunroof

eof
