# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000EE
# resource alias of this part: "FL seat"

render		0x000000A2
mesh		0x000000A3
click		0x0000011D

category	2

slot		0.010 -0.347 -0.069	0.000 0.000 0.000	1	; FL_seat
attach		0x00000006 901	; chassis->FL_seat
attach		0x00000157 901	; chassis->FL_seat

eof
