# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000D1
# resource alias of this part: "FL window"

render		0x0000005B
mesh		0x0000005C
click		0x00000100

body		0.220 0.526 0.850	0.000 0.000 0.000	5.000	cars\racers\Yotta_data\meshes\_phys_FL_window.scx	;0x0000001A
# total mass: 5.000 kg

category	2

slot		0.148 0.360 0.712	0.000 0.000 0.000	6	; FL_window
attach		0x000000C8 6	; FL door->FL_window
attach		0x0000A3C8 6	; FL butterfly door->FL_window
attach		0x0000A1C8 6	; FL scissor door->FL_window
attach		0x0000A5C8 6	; FL suicide door->FL_window

eof
