# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000D2
# resource alias of this part: "FR window"

render		0x0000005D
mesh		0x0000005E
click		0x00000101

body		-0.220 0.526 0.850	0.000 0.000 0.000	5.000	cars\racers\Yotta_data\meshes\_phys_FR_window.scx	;0x00000030
# total mass: 5.000 kg

category	2

slot		-0.148 0.360 0.712	0.000 0.000 0.000	20	; FR_window
attach		0x000000DC 20	; FR door->FR_window
attach		0x0000A2DC 20	; FR butterfly door->FR_window
attach		0x0000A0DC 20	; FR scissor door->FR_window
attach		0x0000A4DC 20	; FR suicide door->FR_window

eof
