# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E8
# resource alias of this part: "L sideskirt 3"

render		0x00000093
mesh		0x00000094
texture		0x00020025
click		0x00000117

body		0.006 -0.026 0.044	0.000 0.000 0.000	5.000	cars\racers\Yotta_data\meshes\_phys_L_sideskirt_3.scx	;0x00000012
# total mass: 5.000 kg

category	2

slot		0.018 -0.077 0.044	0.000 0.000 0.000	11	; L_sideskirt
attach		0x00000006 11	; chassis->L_sideskirt
attach		0x00000157 11	; chassis->L_sideskirt

eof
