# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000CA
# resource alias of this part: "L sideskirt"

render		0x00000048
mesh		0x00000049
texture		0x00020025
click		0x000000F9

body		0.000 -0.017 0.066	0.000 0.000 0.000	5.000	cars\racers\Yotta_data\meshes\_phys_L_sideskirt.scx	;0x00000010
# total mass: 5.000 kg

category	2

slot		0.003 -0.135 0.044	0.000 0.000 0.000	11	; L_sideskirt
attach		0x00000006 11	; chassis->L_sideskirt
attach		0x00000157 11	; chassis->L_sideskirt

eof
