# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000ED
# resource alias of this part: "R bumper 3"

render		0x0000009F
mesh		0x000000A0
texture		0x00020025
click		0x0000011C

body		0.000 0.004 -0.004	0.000 0.000 0.000	25.000	cars\racers\Yotta_data\meshes\_phys_R_bumper_3.scx	;0x0000000A
# total mass: 25.000 kg

category	2

slot		0.000 0.150 0.280	0.000 0.000 0.000	12	; R_bumper
attach		0x00000006 12	; chassis->R_bumper
attach		0x00000157 12	; chassis->R_bumper

eof
