# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E7
# resource alias of this part: "R sideskirt 3"

render		0x00000090
mesh		0x00000091
texture		0x00020025
click		0x00000116

body		-0.006 -0.026 0.044	0.000 0.000 0.000	5.000	cars\racers\Yotta_data\meshes\_phys_R_sideskirt_3.scx	;0x00000038
# total mass: 5.000 kg

category	2

slot		-0.018 -0.077 0.044	0.000 0.000 0.000	19	; R_sideskirt
attach		0x00000006 19	; chassis->R_sideskirt
attach		0x00000157 19	; chassis->R_sideskirt

eof
