# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000D0
# resource alias of this part: "R windshield"

render		0x00000059
mesh		0x0000005A
click		0x000000FF

body		0.000 -0.148 0.490	0.000 0.000 0.000	25.000	cars\racers\Yotta_data\meshes\_phys_R_windshield.scx	;0x0000001C
# total mass: 25.000 kg

category	2

slot		0.000 -0.137 0.450	0.000 0.000 0.000	5	; R_windshield
attach		0x000000CB 5	; trunk->R_windshield

eof
