# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000EB
# resource alias of this part: "R wing 3"

render		0x0000009A
mesh		0x0000009B
texture		0x00020025
click		0x0000011A

body		-0.477 -0.079 0.045	0.000 0.000 0.000	5.000	cars\racers\Yotta_data\meshes\_phys_R_wing_3.scx	;0x0000001D
# total mass: 5.000 kg

category	2

slot		-0.477 -0.186 -0.110	0.000 0.064 0.000	13	; R_wing
attach		0x000000CB 1	; trunk->R_wing

eof
