# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000D3
# resource alias of this part: "RL window"

render		0x0000005F
mesh		0x00000060
click		0x00000102

body		-0.667 0.423 0.714	0.000 0.000 0.000	3.000	cars\racers\Yotta_data\meshes\_phys_RL_window.scx	;0x0000001B
# total mass: 3.000 kg

category	2

slot		-0.703 0.306 0.700	0.000 0.000 0.000	14	; RL_window
attach		0x00000006 14	; chassis->RL_window
attach		0x00000157 14	; chassis->RL_window

eof
