# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000D4
# resource alias of this part: "RR window"

render		0x00000061
mesh		0x00000062
click		0x00000103

body		0.667 0.423 0.714	0.000 0.000 0.000	3.000	cars\racers\Yotta_data\meshes\_phys_RR_window.scx	;0x00000031
# total mass: 3.000 kg

category	2

slot		0.703 0.306 0.700	0.000 0.000 0.000	21	; RR_window
attach		0x00000006 21	; chassis->RR_window
attach		0x00000157 21	; chassis->RR_window

eof
