# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000CC
# resource alias of this part: "targa top"

render		0x0000004E
mesh		0x0000004F
texture		0x00020025
click		0x000000FB

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	29	; targa_top
attach		0x00000006 29	; chassis->targa_top
attach		0x00000157 29	; chassis->targa_top

eof
