# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000D1
# resource alias of this part: "F windshield"

render		0x00000057
mesh		0x00000058
click		0x000000FE

body		-0.004 0.005 0.033	0.000 0.000 0.000	33.000	cars\racers\Axis_data\meshes\_phys_F_windshield.scx	;0x0000001C
# total mass: 33.000 kg

category	2

slot		-0.003 -0.034 -0.047	0.000 0.000 0.000	3	; F_windshield
attach		0x00000006 3	; 200S  chassis->F_windshield
attach		0x00000157 3	; 200XT chassis->F_windshield
attach		0x00000156 3	; ZX360 chassis->F_windshield

eof
