# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000D6
# resource alias of this part: "FR seat"

render		0x00000064
mesh		0x00000065
click		0x00000103

category	2

slot		0.020 -0.415 -0.060	0.000 0.000 0.000	1	; FR_seat
attach		0x00000006 902	; 200S  chassis->FR_seat
attach		0x00000157 902	; 200XT chassis->FR_seat
attach		0x00000156 902	; ZX360 chassis->FR_seat

eof
