# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000F8
# resource alias of this part: "L exhaust pipe"

render		0x000000C2
mesh		0x000000C3
click		0x00000125

category	2

slot		0.258 0.111 -1.538	0.000 0.000 0.000	31	; L_muffler
attach		0x00000006 31	; chassis->L_muffler

slot		-0.251 0.216 0.875	0.000 0.000 0.000	34	; L_tip

eof
