# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000F7
# resource alias of this part: "R exhaust pipe"

render		0x000000C0
mesh		0x000000C1
click		0x00000124

category	2

slot		-0.261 -0.111 1.538	3.142 0.000 3.142	32	; R_muffler
attach		0x00000006 32	; chassis->R_muffler

slot		0.243 -0.216 -0.875	3.142 0.000 3.142	33	; R_tip

eof
