# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E2
# resource alias of this part: "R mirror"

render		0x00000086
mesh		0x00000087
texture		0x00020025
click		0x0000010F

body		0.006 -0.015 0.003	0.000 0.000 0.000	2.100	cars\racers\Axis_data\meshes\_phys_R_mirror.scx	;0x0000002E
# total mass: 2.100 kg

category	2

slot		-0.143 -0.078 -0.001	0.000 0.000 0.000	16	; R_mirror
attach		0x000000D5 16	; FR door->R_mirror
attach		0x0000A0D2 16	; FR scissor door->R_mirror
attach		0x0000A2D2 16	; FR butterfly door->R_mirror
attach		0x0000A4D2 16	; FR suicide door->R_mirror

eof
