# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E3
# resource alias of this part: "R seats"

render		0x00000088
mesh		0x00000089
click		0x00000110

category	2

slot		0.004 -0.238 -0.096	0.000 0.000 0.000	17	; R_seats
attach		0x00000006 17	; 200S  chassis->R_seats
attach		0x00000157 17	; 200XT chassis->R_seats
attach		0x00000156 17	; ZX360 chassis->R_seats

eof
