# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000EF
# resource alias of this part: "R sideskirt 2"

render		0x000000AE
mesh		0x000000AF
texture		0x00020025
click		0x0000011C

body		0.006 -0.023 0.066	0.000 0.000 0.000	3.000	cars\racers\Axis_data\meshes\_phys_R_sideskirt_2.scx	;0x00000031
# total mass: 3.000 kg

category	2

slot		-0.014 -0.081 0.065	0.000 0.000 0.000	18	; R_sideskirt
attach		0x00000006 18	; chassis->R_sideskirt
attach		0x00000006 18	; 200S  chassis->R_sideskirt
attach		0x00000157 18	; 200XT chassis->R_sideskirt
attach		0x00000156 18	; ZX360 chassis->R_sideskirt

eof
