# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E5
# resource alias of this part: "R windshield"

render		0x0000008D
mesh		0x0000008E
click		0x00000112

body		-0.001 -0.012 -0.004	0.000 0.000 0.000	28.000	cars\racers\Axis_data\meshes\_phys_R_windshield.scx	;0x00000033
# total mass: 28.000 kg

category	2

slot		-0.004 -0.001 0.032	0.000 0.000 0.000	20	; R_windshield
attach		0x00000006 20	; 200S  chassis->R_windshield
attach		0x00000157 20	; 200XT chassis->R_windshield
attach		0x00000156 20	; ZX360 chassis->R_windshield

eof
