# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E0
# resource alias of this part: "F grill"

render		0x0000004E
mesh		0x0000004F
click		0x00000113

body		0.000 0.010 0.013	0.000 0.000 0.000	4.500	cars\racers\Coyot_data\meshes\_phys_F_grill.scx	;0x00000016
# total mass: 4.500 kg

category	2

slot		0.000 -0.024 0.034	0.000 0.000 0.000	30	; F_grill
attach		0x000000FF 30	; F bumper->F_grill
attach		0x00000100 30	; F bumper 3->F_grill
attach		0x00000101 30	; F bumper 2->F_grill

eof
