# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E1
# resource alias of this part: "F windshield"

render		0x00000051
mesh		0x00000052
click		0x00000114

body		0.002 -0.008 0.016	0.000 0.000 0.000	32.000	cars\racers\Coyot_data\meshes\_phys_F_windshield.scx	;0x00000017
# total mass: 32.000 kg

category	2

slot		0.008 0.010 0.000	0.000 0.000 0.000	4	; F_windshield
attach		0x00000006 4	; C1500 chassis->F_windshield
attach		0x00000156 4	; T1800 chassis->F_windshield
attach		0x00000157 4	; T1800S chassis->F_windshield
attach		0x00000158 4	; TX2200GT chassis->F_windshield

eof
