# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E4
# resource alias of this part: "FL window"

render		0x0000005A
mesh		0x0000005B
click		0x00000117

body		-0.026 -0.038 0.043	0.000 0.000 0.000	5.500	cars\racers\Coyot_data\meshes\_phys_FL_window.scx	;0x00000025
# total mass: 5.500 kg

category	2

slot		-0.031 -0.180 -0.049	0.000 0.000 0.000	7	; FL_window
attach		0x000000E2 7	; FL door->FL_window
attach		0x0000A3E2 7	; FL butterfly door->FL_window
attach		0x0000A1E2 7	; FL scissor door->FL_window
attach		0x0000A5E2 7	; FL suicide door->FL_window

eof
