# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E7
# resource alias of this part: "FR window"

render		0x00000060
mesh		0x00000061
click		0x0000011A

body		0.033 -0.038 0.043	0.000 0.000 0.000	5.500	cars\racers\Coyot_data\meshes\_phys_FR_window.scx	;0x00000039
# total mass: 5.500 kg

category	2

slot		0.034 -0.180 -0.049	0.000 0.000 0.000	10	; FR_window
attach		0x000000E5 10	; FR door->FR_window
attach		0x0000A2E5 10	; FR butterfly door->FR_window
attach		0x0000A0E5 10	; FR scissor door->FR_window
attach		0x0000A4E5 10	; FR suicide door->FR_window

eof
