# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000EE
# resource alias of this part: "L mirror 3"

render		0x00000076
mesh		0x00000077
texture		0x00020025
click		0x00000121

body		0.000 -0.003 0.015	0.000 0.000 0.000	1.700	cars\racers\Coyot_data\meshes\_phys_L_mirror_3.scx	;0x0000001F
# total mass: 1.700 kg

category	2

slot		0.107 -0.058 -0.012	0.000 0.000 0.000	12	; L_mirror
attach		0x000000E2 12	; FL door->L_mirror
attach		0x0000A3E2 12	; FL butterfly door->L_mirror
attach		0x0000A1E2 12	; FL scissor door->L_mirror
attach		0x0000A5E2 12	; FL suicide door->L_mirror

eof
