# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000F6
# resource alias of this part: "R seats"

render		0x0000008A
mesh		0x0000008B
click		0x00000129

category	2

slot		0.010 -0.231 -0.070	0.000 0.000 0.000	17	; R_seats
attach		0x00000006 17	; C1500 chassis->R_seats
attach		0x00000156 17	; T1800 chassis->R_seats
attach		0x00000157 17	; T1800S chassis->R_seats
attach		0x00000158 17	; TX2200GT chassis->R_seats

eof
