# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000FC
# resource alias of this part: "R wing"

render		0x0000009B
mesh		0x0000009C
texture		0x00020025
click		0x0000012F

body		0.004 -0.006 0.006	0.000 0.000 0.000	2.500	cars\racers\Coyot_data\meshes\_phys_R_wing.scx	;0x00000036
# total mass: 2.500 kg

category	2

slot		0.000 -0.023 -0.049	0.000 0.000 0.000	20	; R_wing
attach		0x00000103 1	; trunk->R_wing

eof
