# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000F0
# resource alias of this part: "RL window"

render		0x0000007C
mesh		0x0000007D
click		0x00000123

body		-0.026 -0.013 -0.036	0.000 0.000 0.000	5.500	cars\racers\Coyot_data\meshes\_phys_RL_window.scx	;0x0000003A
# total mass: 5.500 kg

category	2

slot		-0.033 -0.165 -0.012	0.000 0.000 0.000	24	; RL_window
attach		0x000000F7 24	; RL door->RL_window

eof
