# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000DF
# resource alias of this part: "RR window"

render		0x0000004C
mesh		0x0000004D
click		0x00000112

body		0.033 -0.013 -0.036	0.000 0.000 0.000	5.500	cars\racers\Coyot_data\meshes\_phys_RR_window.scx	;0x0000003D
# total mass: 5.500 kg

category	2

slot		0.037 -0.165 -0.012	0.000 0.000 0.000	28	; RR_window
attach		0x000000F1 28	; RR door->RR_window

eof
