# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000F8
# resource alias of this part: "FL blinker"

render		0x000000B1
mesh		0x000000B2
click		0x00000126

body		-0.004 0.007 -0.017	0.000 0.000 0.000	0.300	cars\racers\Naxas_data\meshes\_phys_FL_blinker.scx	;0x0000001B
# total mass: 0.300 kg

category	2

render          0x00031178	0.000 -0.020 -0.000	 0.349  0.000  0.000 ; CITY
flags           4

slot		-0.010 0.019 0.037	0.000 0.000 0.000	4	; FL_blinker
attach		0x000000CE 4	; F bumper->FL_blinker
attach		0x000000CF 4	; F bumper 2->FL_blinker
attach		0x000000D0 4	; F bumper 3->FL_blinker

eof
