# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000F9
# resource alias of this part: "FR blinker"

render		0x000000B4
mesh		0x000000B5
click		0x00000127

body		0.004 0.007 -0.017	0.000 0.000 0.000	0.300	cars\racers\Naxas_data\meshes\_phys_FR_blinker.scx	;0x0000001E
# total mass: 0.300 kg

category	2

render          0x00031138	0.000 -0.020 -0.000	 0.349  0.000  0.000 ; CITY
flags           4

slot		0.010 0.019 0.037	0.000 0.000 0.000	7	; FR_blinker
attach		0x000000CE 7	; F bumper->FR_blinker
attach		0x000000CF 7	; F bumper 2->FR_blinker
attach		0x000000D0 7	; F bumper 3->FR_blinker

eof
