# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000D9
# resource alias of this part: "FR window"

render		0x00000060
mesh		0x00000061
click		0x00000107

body		-0.001 0.003 -0.013	0.000 0.000 0.000	4.500	cars\racers\Naxas_data\meshes\_phys_FR_window.scx	;0x00000020
# total mass: 4.500 kg

category	2

slot		0.092 -0.131 0.105	0.000 0.000 0.000	20	; FR_window
attach		0x000000D6 20	; FR door->FR_window

eof
