# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E0
# resource alias of this part: "L mirror 3"

render		0x00000074
mesh		0x00000075
texture		0x00020025
click		0x0000010E

body		0.001 -0.003 -0.029	0.000 0.000 0.000	1.300	cars\racers\Naxas_data\meshes\_phys_L_mirror_3.scx	;0x0000002B
# total mass: 1.300 kg

category	2

slot		0.094 -0.059 -0.008	0.000 0.000 0.000	12	; L_mirror
attach		0x000000D2 12	; FL door->L_mirror

eof
