# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000E1
# resource alias of this part: "L sideskirt"

render		0x00000077
mesh		0x00000078
texture		0x00020025
click		0x0000010F

body		0.005 0.018 0.004	0.000 0.000 0.000	2.500	cars\racers\Naxas_data\meshes\_phys_L_sideskirt.scx	;0x0000002C
# total mass: 2.500 kg

category	2

slot		0.013 -0.205 -0.010	0.000 0.000 0.000	13	; L_sideskirt
attach		0x00000006 13	; T chassis->L_sideskirt
attach		0x00000156 13	; L4K chassis->L_sideskirt
attach		0x00000157 13	; EE chassis->L_sideskirt

eof
