# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000FA
# resource alias of this part: "R ram air intake"

render		0x000000B6
mesh		0x000000B7
texture		0x00020025
click		0x00000128

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	35	;
attach		0x00000006 35	; T chassis->R_ram_air_intake
attach		0x00000156 35	; L4K chassis->R_ram_air_intake
attach		0x00000157 35	; EE chassis->R_ram_air_intake

eof
