# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000F5
# resource alias of this part: "R sideskirt 2"

render		0x000000AB
mesh		0x000000AC
texture		0x00020025
click		0x00000123

body		0.007 0.007 0.004	0.000 0.000 0.000	2.500	cars\racers\Naxas_data\meshes\_phys_R_sideskirt_2.scx	;0x00000037
# total mass: 2.500 kg

category	2

slot		-0.032 -0.180 -0.010	0.000 0.000 0.000	19	; R_sideskirt
attach		0x00000006 19	; T chassis->R_sideskirt
attach		0x00000156 19	; L4K chassis->R_sideskirt
attach		0x00000157 19	; EE chassis->R_sideskirt

eof
