# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x000000F0
# resource alias of this part: "R windshield"

render		0x0000009E
mesh		0x0000009F
click		0x0000011E

body		0.000 0.004 -0.036	0.000 0.000 0.000	38.000	cars\racers\Naxas_data\meshes\_phys_R_windshield.scx	;0x00000039
# total mass: 38.000 kg

category	2

slot		0.000 0.006 -0.043	0.000 0.000 0.000	21	; R_windshield
attach		0x000000DA 21	; hood->R_windshield
attach		0x000000DB 21	; hood 2->R_windshield
attach		0x000000DC 21	; hood 3->R_windshield

eof
